#text-box {
  display: flex; 
  padding: 16px;

  textarea {
    background-color: black;
    color: #b3bac8;
    border-radius: 45px;
    padding: 20px;
    width: 88%;
    height: 96px;
    font-size: 23px;
    margin: 0;
    margin-right: 16px;

    &:focus {
      outline: none;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    height: 138px;
  }

  img {
    height: 45px;
    display: block;
    margin-top: 25px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-top: 25px;

    &:hover {
      filter: invert(93%);
    }
  }
}


