#text-box textarea {
  background-color: black;
  color: #b3bac8;
  border-radius: 45px;
  padding: 20px;
  margin: 17px;
  width: 93%;
  height: 96px;
  font-size: 23px;
}

#text-box textarea:focus {
  outline: none;
}

@media only screen and (max-width: 905px) {
  #text-box textarea {
    background-color: black;
    color: #b3bac8;
    border-radius: 45px;
    padding: 20px;
    margin: 25px 20% 9px;
    width: 500px;
    height: 51px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 975px) {
  #text-box textarea {
    background-color: black;
    color: #b3bac8;
    border-radius: 45px;
    padding: 20px;
    margin: 25px 20% 9px;
    width: 430px;
    height: 51px;
    font-size: 20px;
  }
}
