#nav-bar {
  input {
    width: 400px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    position: relative;
    top: -3px;
    margin-bottom: 25px;
    margin-left: 18px;
    margin-right: 24px;

    &:focus {
      outline: none;
    }
  }

  span {
    color: #246476;
    font-size: 64px;
    float: left;
    margin-left: 15px;
    position: relative;
    top: -4px;
    transition-duration: 0.2s;

    &:hover {
      filter: contrast(180%) hue-rotate(300deg) brightness(150%);
      cursor: pointer;
    }
  }
}

#category-bar {
  height: 50px;
  width: 500px;
  display: inline-block;
  position: relative;
  top: 20px;

  img {
    height: 100%;
    border: 3px solid #69b5ec;
    border-radius: 30px;
    margin-left: 15px;
    background: #97d1d8;
    transition-duration: 0.3s;

    &:hover {
      background: #9af4ff;
      cursor: pointer;
    }
  }
}

/* #add-emoji-container { 
  width: 200px;
  display: inline-block;
} 

#add-emoji {
  height: 40px;
  position: relative;
  top: 10px;
  margin-left: 11px;
  cursor: pointer;
  filter: invert(100%);

  &:hover {
    filter: brightness(95%);
  }
}

.drop-down {
  visibility: hidden;
  position: relative;
  top: 25px;
  margin-left: 11px;
  font-size: 16px;
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  z-index: 1;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out 0.2s, visibility 0.1s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0.2s, visibility 0.1s linear 0.3s, z-index 0s linear 0.01s;

  ul {
    background: black;
    padding: 0px;
    position: absolute;
  }

  li {
    list-style: none;
    color: white;
    padding: 6px;
    border: 1px solid #403838;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background: #ffffff;
      color: black;
      border: 1px solid white;
    }
  }
}*/
