.keyboard {
  width: 1450px;
  height: 450px;
  margin-left: 10px;
  position: relative;
}

.keyboard button {
  position: absolute;
  top: 160px;
  left: 0;
  padding: 18px;
  z-index: 10;
  cursor: pointer;
  border-radius: 20px;
  background: #131010;
  border: 2px solid white;
  transition-duration: 0.5s;
}

.keyboard button:focus {
  outline: none;
}

.keyboard button:hover {
  border: 2px solid red;
}
